<div>
  <h1><%= @comment.bar.name %></h1>
  <h3><%= @comment.bar.address %></h3>
  <p>タイトル:<%= @comment.title %></p>
  <p>コメント:<%= @comment.content %></p>
     <% if @user == current_user %>
       <%= link_to "削除する", comment_path(@comment), method: :delete,class:"btn btn-sm btn-danger" %>
       <%= link_to '編集する', edit_comment_path, class:"btn btn-sm btn-success" %>
     <% end %>
  <p>評価 :<%= @comment.star%>点</p>
    <div id="star-rate<%= @comment.id%>"></div>
    <script>
      $('#star-rate<%= @comment.id%>').raty({
        size      : 36,
        starOff   : '<%= asset_path('star-off.png') %>',
        starOn    : '<%= asset_path('star-on.png') %>',
        half      : false,
        readOnly: true,
        score: <%= @comment.star %>,
      });
    </script>
  </div>
  <p>投稿日：<%= @comment.created_at.strftime('%Y/%m/%d') %></p>
</div>