<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h1>管理者用Bar一覧</h1>
        <div class="col-md-10">
          <h3>投稿フォーム</h3>
            <form class="row gy-2 gx-3 align-items-center">
              <%= form_with(model: @bar, url: admin_create_bars_path) do |form| %>
                <label class="control-label">bar名</label>
                    <%= form.text_field :name %>
                <label class="control-label">住所</label>
                    <%= form.text_field :address %>
                <label class="control-label">タグ</label>
                    <%= form.collection_select :tag_id, Tag.all, :id, :name, include_blank: "選択して下さい" %>
                <%= form.submit "投稿", class: "btn btn-primary" %>
              <% end %>
            </form>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <th>bar名</th>
              <th>タグ</th>
            </tr>
          <% @bars.each do |bar| %>
            <tr>
              <td>
                <%= bar.name %>
              </td>
              <td>
                <%= bar.tags.pluck(:name).join("") %>
              </td>
              <td>
                <%= link_to "Edit", admin_edit_bars_path(bar.id), class:"btn btn-sm btn-success" %>
              </td>
              <td>
                <%= link_to "Destroy", admin_destroy_bars_path(bar), method: :delete,"data-confirm" => "本当に削しますか？",class:"btn btn-sm btn-danger" %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
    </div>
  </div>
</div>
