<div>
  <h1>BAR名：<%= @bar.name %></h1>
  <h3>住所 : <%= @bar.address %></h3>
</div>
  <table class="table">
    <tbody>
      <tr>
        <th>投稿日</th>
        <th>ユーザー名</th>
        <th>タイトル</th>
        <th>コメント</th>
        <th>評価</th>
      </tr>
      <% @comments.each do |comment| %>
        <tr>
          <td>
            <%= comment.created_at.strftime('%Y/%m/%d') %>
          </td>
          <td>
            <% if current_user && current_user.id == comment.user.id %>
              <%= link_to comment.user.name, users_mypage_path(comment.user) %>
            <% else %>
              <%= link_to comment.user.name,  users_user_path(comment.user) %>
            <% end %>
          </td>
          <td>
            <%= link_to comment.title, comment_path(comment.id) %>
          </td>
          <td>
            <%= comment.content %>
          </td>
          <td>
             <div id="show_star-<%= comment.id %>"></div>
            <script>
              var elem = document.querySelector('#show_star-<%= comment.id %>');
              var opt = {
                starOff   : '<%= asset_path('star-off.png') %>',
                starOn    : '<%= asset_path('star-on.png') %>',
                half      : '<%= asset_path('star-half.png') %>',
                readOnly  : true,
                score     : <%= comment.star %>
                };
                raty(elem,opt);
            </script>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= link_to "戻る", bars_path %>