<h2>Results index</h2>

<table class="table table-hover table-inverse">
  <tbody>
  <% if @range == "User" || @range == "Bar" %>
    <% if @comments.present? && @comments.any? %>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.title %></td>
          <td><%= comment.content %></td>
        </tr>
      <% end %>
    <% end %>
  <% end %>

  <% if @range == "Bar" %>
    <% if @bars.present? && @bars.any? %>
      <% @bars.each do |bar| %>
        <tr>
          <td><%= bar.name %></td>
          <td><%= bar.address %></td>
        </tr>
        <% bar.comments.each do |comment| %>
          <tr>
            <td><%= comment.title %></td>
            <td><%= comment.content %></td>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% if @tag_results.present? && @tag_results.any? %>
    <% @tag_results.each do |result| %>
      <tr>
        <td><%= tag.name %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>